
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffff;
}
ol,
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}
a {
    text-decoration: none;
}
img {
    display: block;
}
.container {
    width: 1158px;
    padding: 0 15px 0 15px;
    margin: 0 auto;
}
.section {
    display: flex;
    align-items: center;
    padding: 120px 0 120px;
   
}
/* header section */
.page-header {
    width: 1158px;
    height: 72px;
    border-bottom: 1px solid #e7e9fc;
    margin: 0 auto;
}
.head-container {
    display: flex;
    flex-direction: row;
    height: 72px;
    border-bottom: 1px solid #e7e9fc;
}
.header-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 24px 0;
    gap: 40px;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.logo-part, .nav-link {
    color: #2e2f42;
}
.header-list {
    display: flex;
    gap: 40px;
}
.nav-item {
    align-items: center;
    margin-right: 40px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.nav-link {
    gap: 40px;
    align-items: center;
    margin-right: 0;
    padding: 24px 0;

}
.nav-link:hover, .nav-link:focus {
    color: #404bbf;
}
.contact-item {
    display: flex;
    justify-content: end;
    flex-direction: row;
    align-items: center;
    padding: 24px 15px;
    gap: 40px;
}
.contact-list {
    padding-right: 40px;
}
.contact-link {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.contact-link:hover, .contact-link:focus {
    color: #404bbf;
}

/* section one */

.section-color{
    padding: 188px 0;
    background-color:#2e2f42;
}
.head-h {
    display: flex;
        max-width: 496px;
        height: 120px;
        padding: 188px 331px 292px 331px;
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 56px;
        line-height: 107%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
}

.button {
    display: block;
    border: none;
    margin: 0px 494px 188px 494px;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
        background: #4d5ae5;
        cursor: pointer;
        border-radius: 4px;
       
}
.button:hover {
    background-color: #404BBF;
}
.button:focus {
    background-color: #404BBF;
}
/* section two */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.text-list {
    display: flex;
    padding-left: 15px;
    align-items: center;
    justify-content: space-evenly;
    gap: 24px;
    padding: 120px 0 120px;
    
}
.list-c {
    width: calc((100% - 3 * 24px) / 4);
}
.head-list {
    margin-bottom: 8px;
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.p-link {
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

/* section three */
.head-link {
    text-align: center;
    margin-bottom: 72px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    padding-top: 120px;


}
.image-list {
    display: flex;
    gap: 24px;
}
.team-list {
     width: calc((100% - 3 * 24px) / 4);
     border-radius: 0px 0px 4px 4px;
}
.team {
    padding: 32px 0;
}

.head-item {
    margin-bottom: 8px;
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}
.p-item {
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}

/* section four*/
.head-section {
    margin-bottom: 72px;
    margin-top: 120px;
    padding-bottom: 72px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}
.photo-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.photo-text {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.photo-styles {
    width: calc((100% - 48px) / 3);
}
.portfolio-list {
    margin-bottom: 8px;
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.portfolio-item {
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
/* footer section */

.footer-page {
        height: 312px;
        background-color: #2e2f42;
        padding: 100px 0 100px;
}
.logo {
    display: inline-block;
    margin-bottom: 16px;
}
.footer-page .logo-part {
    color: #f4f4fd;
}

.p-footer {
    display: flex;
    width: 264px;
    height: 72px;
    padding-left: 15px;
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
}