*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffff;
}
ol,
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
/* header section */
.logo-nav {
    padding-top: 36px;
    padding-right: auto;
    padding-bottom: 37px;
    padding-left: 159px;
}
.logo {
font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.logo-part, .nav-link {
        color: #2e2f42;
}
.header-link {
    color: #434455;
}

.nav-link:hover, .nav-link:focus {
    color: #404bbf;
}

.nav-item {
font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.contact-item {
    display: flex;
    gap: 40px;      
}
.contact-container {
    display: flex;
 padding-top: 16px;
}
.contact {
    display: flex;
    justify-content: center;
    font-style: normal;
    padding-left: 336px;
}
.contact-link {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.contact-link:hover, .contact-link:focus {
    color: #404bbf;
}
.section {
    background-color: #2e2f42;
}
.page-header  {
    display: flex;
}
.header-nav {
    display: flex;
    align-items: center;
    padding-left: 0;
}
.header-list {
   display: flex;
   gap: 40px;
   padding-left: 67px; 
}
.container {
    max-width: 1440px;
    padding: 16px;
    margin: 0 auto;
}
.head-container {
    justify-content: center;
        width: 1440px;
        height: 50px;
        padding: 16px auto;
        margin: 0 auto;
}


/* section one */
.head-h {
    display: flex;
    flex-direction: column;
    padding-top: 188px;
    font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #ffffff;
}
.head-h .for-you {
    display: flex;
    flex-direction: column;
}
.button {
    margin: 48px 635px 188px 636px;
    width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
        background: #4d5ae5;
        cursor: pointer;
        
}
.button:hover {
    background-color: #404BBF;
}
.button:focus {
    background-color: #404BBF;
}
/* section two */
.container-two {
    display: flex;
    margin-top: 115px;
    margin-left: 156px;
     max-width: 1128px; 
     justify-content: center;
     
     
   

}
.text-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    
    
}
.head-list {
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.p-link {
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
/* section three */
.image-list {
    display: flex;
    gap: 24px;
    padding-top: 56.43px;
    padding-left: 155.48px;  
    
}
.section-list {
    margin-top: 116px;
    height: 732px;
        background-color: #F4F4FD
}

.head-link {
    font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
        padding-top: 120px;
        
        
}
.head-item {
    
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}
.p-item {
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}
/* section four*/
.photo-list { 
    display: flex;
    gap: 24px; 
    margin-top: 72px;
    margin-left: 156px;  
    margin-bottom: 120px; 
    max-width: 1128px;
}


.head-section {
    margin-top: 106px;
    font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
}
.portfolio-list {
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42
}
.portfolio-item {
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
/* footer section */
.container-footer {
    display: flex;
    flex-direction: column;
    padding: 100px 1020px 100px 156px;
  
}
.footer-page {
    width: 1440px;
        height: 312px;
        margin: auto;
    background-color: #2e2f42;
}
.footer-page .logo-part {
    color: #f4f4fd;
}
.p-footer {
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
}