
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffff;
}
ol,
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}
a {
    text-decoration: none;
}
img {
    display: block;
}
.container {
    max-width: 1158px;
    box-sizing: content-box;
}
.section{
    display: flex;
    align-items: center;
    margin-bottom: 120px;
   
}
/* header section */
.page-header {
    width: 1158px;
    height: 72px;
    border-bottom: 1px solid #e7e9fc;
}
.head-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.header-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 24px;
}
.header-list {
    display: flex;
    flex-direction: row;
    padding: 24px;
}
.heder-list {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}
.contact-item {
    display: flex;
    justify-content: end;
    flex-direction: row;
    align-items: center;
    padding: 24px 15px 332px;
}
.nav-link {
padding-left: 40px;
align-items: center;

}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.logo-part, .nav-link {
        color: #2e2f42;
}
.header-link {
    color: #434455;
}

.nav-link:hover, .nav-link:focus {
    color: #404bbf;
}

.nav-item {
font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}


.contact-link {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.contact-link:hover, .contact-link:focus {
    color: #404bbf;
}





/* section one */

.section-color{
    background-color:#2e2f42;
    margin-bottom: 120px;
}
.head-h {
    font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 56px;
        line-height: 107%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
}
.text {
    display: flex;
    padding: 188px 331px 292px 331px;
    justify-content: center;
    height: 310px;
}

.button {
    margin: 0px 494px 188px 494px;
    width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
        background: #4d5ae5;
        cursor: pointer;
       
}
.button:hover {
    background-color: #404BBF;
}
.button:focus {
    background-color: #404BBF;
}
/* section two */
.container-two {
    display: flex;
    margin-top: 115px;
    margin-left: 156px;
     max-width: 1128px; 
     justify-content: center;
}
.text-list {
    display: flex;
    padding-left: 15px;
    align-items: center;
    justify-content: space-evenly;
    gap: 24px;
    
}
.head-list {
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.p-link {
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
/* section three */
.image-list {
    display: flex;
    gap: 24px;
    padding-left: 15px;
    padding-top: 56.43px;
    
    
}
.section-list {
    margin-top: 116px;
    height: 732px;
        background-color: #F4F4FD
}

.head-link {
    font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
        padding-top: 120px;
        
        
}
.head-item {
    
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}
.p-item {
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}
/* section four*/
.photo-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    padding-left: 15px;
}
.p {
    border: #2e2f42;
}


.head-section {
    margin-top: 120px;
    padding-bottom: 72px;
    font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
}
.portfolio-list {
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42
}
.portfolio-item {
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
/* footer section */

.footer-page {
        height: 312px;
        background-color: #2e2f42;
}
.footer-page .logo-part {
    color: #f4f4fd;
}
.logo-footer{
    display: flex;
    justify-content: flex-start;
    padding-left: 15px;
    padding-top: 99px;
}

.p-footer {
    display: flex;
    width: 264px;
    height: 72px;
    padding-left: 15px;
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
}